<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedNote.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteNote()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="loadedNote.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center"> {{ loadedNote.title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-padding"> {{ loadedNote.content }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-padding"> Created at: {{ loadedNote.createdAt }}, Grade: {{ loadedNote.notesGrade }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
